.dashboardContainer {
  height: 93.5vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.loginFormContainer {
  height: 70%;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loginForm {
  border-radius: 16px;
  width: 350px;
  background-color: whitesmoke;
  overflow: hidden;
}
.loginFormHeader {
  width: 100%;
  height: 56px;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* background-color: #FFD71A; */
}
.loginFormHeader > svg {
  margin-left: 16px;
  font-size: 2em;
  color: whitesmoke;
}
.loginFormHeader > p {
  margin: 0;
  margin-left: 12px;
  font-weight: bold;
  color: whitesmoke;
}
.loginFormContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 24px;
}

.loginFormGroup {
  width: 100%;
}

@media only screen and (max-device-width: 1150px) {
  .dbLayout {
    grid-template-columns: 60px calc(100% - 60px);
  }
}

@media only screen and (min-device-width: 1150px) {
  .dbLayout {
    grid-template-columns: 15% 85%;
  }
}

.erroruserInfoContainer {
  height: 70%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.errorUserInfo {
  background-color: #EF2A30;
  color: white;
  font-weight: bold;
  font-size: x-large;
  padding: 16px;
  border-radius: 12px;
}
.errorIconUserInfo {
  color: white;
  margin-right: 4px;
}
/* .errorIconUserInfo .fa-primary {
  fill: #a74913;
  opacity: 1;
}
.errorIconUserInfo .fa-secondary {
  fill: rgb(255, 182, 23);
  opacity: 1;
} */

.comingSoonContainer {
  height: 70%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.comingSoonContainer > p {
  display: flex;
  align-items: center;
  padding: 20px;
  color: white;
  /* background-color: #1589C9; */
  border-radius: 8px;
  font-weight: bold;
}

.dbLayout {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 80px 100%;
  grid-template-areas: 
  "topLeft header header"
  "sidebar body body"
  /* "footer footer footer"; */
}
.dbHeader {
  grid-area: header;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  /* border-bottom: 1px solid #222B2E; */
  background-color: #EDF2F6;
}
.dbTopLeft {
  grid-area: topLeft;
  background-color: #222A2E;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-bottom: 1px solid #222B2E;
}
.dbTopLeft > p {
  margin-bottom: 0;
  color: whitesmoke;
}
.dbLeftBar {
  grid-area: sidebar;
  background-color: #222A2E;
}
.dbBody {
  grid-area: body;
  padding: 20px;
  overflow-y: scroll;
  background-color: #EDF2F6;
}
.dbFooter {
  grid-area: footer;
  background-color: #4C5962;
  border-top: 1px solid #222B2E;
}

.dbUserImage {
  object-fit: cover;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid whitesmoke;
}

.headerButton {
  height: 2.5em;
  width: 2.5em;
  margin-right: 8px;
  border-radius: 50%;
  overflow: hidden;
}
.dbHeaderIcon {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.dbIconFont {
  font-size: 1.5em;
}
.dbIconBg {
  background-color: white;
}
.dbIconBg:hover {
  background-color: #F47E2E;
}
.logoutIcon:hover {
  background-color: #FFD71A;
}

.dbFaBell .fa-primary {
  fill: #a74913;
  opacity: 1;
}
.dbFaBell .fa-secondary {
  fill: rgb(255, 182, 23);
  opacity: 1;
}

.dgFaSignOut .fa-primary {
  fill: #EF2A30;
}
.dgFaSignOut .fa-secondary {
  fill: #28334B;
}

.emptyDBContainer {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
  
.loadingSpinner {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centreText {
  text-align: center;
}
.accountTabHeaders {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.accountViewPanel {
  margin-right: 10px;
  margin-left: 10px;
}

.logoutButton {
  background-color: #EF2A30 !important;
  width: calc(100% - 16px);
  margin-left: 8px;
  margin-right: 8px;
}

.createEventButton {
  margin-left: 12px;
}

.linkButtonText {
  text-decoration: none;
  color: white;
}

.linkButtonText:hover {
  text-decoration: none;
  color: white;
}

.modalFont {
  font-family: proximaNova;
}

.loginNav {
  color: #222A2E;
  background-color: #BEBEBE;
  cursor: pointer;
  border: 1px solid #222A2E;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
  width: fit-content;
}
.loginNav:hover {
  background-color: white;
}