.eventViewContainer {
  border-radius: 8px;
  overflow: hidden;
  background-color: white;
}
.eventViewHeader {
  width: 100%;
  height: 56px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #4C5962;
}
.eventViewHeader > svg {
  margin-left: 32px;
  font-size: 2em;
  color: whitesmoke;
}
.eventViewHeader > p {
  margin: 0;
  margin-left: 12px;
  font-weight: bold;
  color: whitesmoke;
}
.eventViewContent {
  border-radius: 8px;
  padding: 32px;
}

.eventTitle {
  font-weight: bold;
  font-size: medium;
  margin-bottom: 0em;
}
.eventText {
  
}

.errorText {
  text-align: center;
}

.eventNameText {
  vertical-align: middle;
}

.eventListCard {
  width: 100%;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}

.eventCardInfo {
  text-align: left;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.eventCardButton {
  flex-shrink: 1;
}

.createEventButton {
  background-color: #4C5962 !important;
}
.createEventButton:hover {
  background-color: rgb(52, 61, 66) !important;
}