.eventListContainer {
  height: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.listGroup {
  /* height: 100%; */
  flex-grow: 1;
  width: 100%;
  overflow-y: scroll;
}

.listGroupItem {
  padding-left: 0 !important;
}

/* .listGroupItem {
  padding-left: 0px;
  display: block;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, .125);
}

.listGroupItem:action {
  width: 100%;
  color: #495057;
  text-align: inherit;
} */

.searchBarSpace {
  margin: 0;
}


.list-view-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

.list-left {
  width: 64px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.list-left-image {
  height: 3.5em;
}

.list-right {
  flex: 1;
}

.searchBarContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* justify-content: center; */

  border: 1px darkblue;
  padding-left: 20px;
  padding-bottom: 12px;
  padding-top: 12px;
  padding-right: 20px;
}

.searchBar {
  display: flex;
  flex-direction: row;
  margin-bottom: 8px;
  align-items: center;
}
.searchIcon {
  display: block;
  border: none;
  vertical-align: middle;
}
.textInput {
  border: none;
  padding: 0;
  padding-left: 12px;
  width: 100%;
}

.searchBarMiddleGap {
  margin: 0;
  width: 100%;
}

.filters {
  display: flex;
  flex-direction: row;
  padding-top: 12px;
  justify-content: space-evenly;
  align-items: center;
}
.filterSelect {
  border: none;
  padding: 0;
  width:  auto;
}
.filterIcon {
  border: none;
  vertical-align: middle;
  margin-right: 8px;
}
.filterSelect select {
  border: none;
}

.eventListTitle {
  margin-bottom: 0;
}
.eventListDate {
  margin-bottom: 0;
  font-size: 0.9em;
}
