.errorText {
  text-align: center;
}

.eventNameText {
  vertical-align: middle;
}

.eventListCard {
  width: 100%;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}

.eventCardInfo {
  text-align: left;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.eventCardButton {
  flex-shrink: 1;
}