@media only screen and (max-width: 600px) {
  .signUpCard {
    width: 90vw;
    margin: 5px;
  }
}

@media only screen and (min-width: 600px) {
  .signUpCard {
    width: 70vw;
  }
}

.signUpCard {
  margin: auto;
}

.error {
  color: #EF2A30;
  font-size: small;
  text-align: center;
}

*:focus {
  outline: none;
}

.card {
  margin-top: 5vh;
  margin-bottom: 5vh;
  /* width: 70vw; */
}

.tab-content {
  margin-top: 1em;
}

.signUpButton {
  margin-right: 12px;
}

.redError {
  color: #EF2A30;
  font-size: large;
}

.input-feedback {
  font-size: small;
  color: #EF2A30 !important;
}

.successReply {
  color: #4BB250;
  font-size: medium;
  text-align: center;
  margin-top: 24px;
}

.datePicker {
  border-radius: 5px;
  border: #cccccc;
  border-width: 1px;
  border-style: solid;
  /* border: none; */
  /* border: 2px #cccccc; */
}

.agreedTo {
  font-size: medium;
  margin-bottom: 0;
}
.selectMap {
  width: 100%;
  height: 300px;
}

.img-thumbnail {
  object-fit: scale-down;
}

.form-label {
  font-family: proximaNova;
}
.text-muted {
  font-family: proximaNova;
}