@media only screen and (max-width: 600px) {
  .signUpCard {
    width: 90vw;
    margin: 5px;
  }
}

@media only screen and (min-width: 600px) {
  .signUpCard {
    width: 70vw;
  }
}

.error {
  border: 2px solid #FF6565;
}

*:focus {
  outline: none;
}

.card {
  margin: 0 auto;
  margin-top: 5vh;
  margin-bottom: 5vh;
  /* width: 70vw; */
}

.tab-content {
  margin-top: 1em;
}

.signUpButton {
  margin-right: 12px;
}

.redError {
  color: #dc3545;
  font-size: large;
}

.input-feedback {
  font-size: small;
  color: #dc3545 !important;
}

.successReply {
  color: #4BB543;
  font-size: small;
}

.datePicker {
  border-radius: 5px;
  border: #cccccc;
  border-width: 1px;
  border-style: solid;
  /* border: none; */
  /* border: 2px #cccccc; */
}

.selectMap {
  width: 100%;
  height: 300px;
}