:root {
  --main-bg-color-transparent: #222a2ec4;
  --main-bg-color: #2b353a;
  --main-yellow-color: #FFD71A;
  --main-blue-color: #1589C9;
  --main-red-color: #EF2A30;
  --main-orange-color: #F47E2E;
  --main-grey-color: #4C5962;
  --main-green-color: #4BB250;
}

.mcRed {
 color: #EF2A30 !important;
}
.mcOrange {
  color: #F47E2E !important;
}
.mcYellow {
  color: #FFD71A !important;
}
.mcGreen {
  color: #4BB250 !important;
}
.mcBlue {
  color: #1589C9 !important;
}
.mcGrey {
  color: #4C5962 !important;
}

.mcRedBG {
  background-color: #EF2A30;
 }
 .mcOrangeBG {
  background-color: #F47E2E;
 }
 .mcOrangeBG:hover {
  background-color: #da6f28;
 }
 .mcYellowBG {
  background-color: #FFD71A;
 }
 .mcYellowBG:hover {
  background-color: #ddbc17;
 }
 .mcGreenBG {
  background-color: #4BB250;
 }
 .mcBlueBG {
  background-color: #1589C9;
 }
 .mcGreyBG {
  background-color: #4C5962;
 }

 .fallBackContainer {
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
 }

.fallBackContainer > img {
  width: 200px;
  height: 100px;
}

.mcTabA {
  border-radius: 8px;
  margin-bottom: 4px;
}
.mcTabA:hover:not(.active) {
  background-color: rgba(239, 42, 49, 0.25);
}
.mcTabA.active {
  background-color: #EF2A30;
}
.mcTabB {
  border-radius: 8px;
  margin-bottom: 4px;
}
.mcTabB:hover:not(.active) {
  background-color: rgba(244, 125, 46, 0.25);
}
.mcTabB.active {
  background-color: #F47E2E;
}
.mcTabC {
  border-radius: 8px;
  margin-bottom: 4px;
}
.mcTabC:hover:not(.active) {
  background-color: rgba(226, 188, 0, 0.25);
}
.mcTabC.active {
  background-color: rgb(226, 188, 0);
}
.mcTabD {
  border-radius: 8px;
  margin-bottom: 4px;
}
.mcTabD:hover:not(.active) {
  background-color: rgba(75, 178, 80, 0.25);
}
.mcTabD.active {
  background-color: #4BB250;
}
.mcTabE {
  border-radius: 8px;
  margin-bottom: 4px;
}
.mcTabE:hover:not(.active) {
  background-color: rgba(21, 138, 201, 0.25);
}
.mcTabE.active {
  background-color: #1589C9;
 }
.mcTabF {
  border-radius: 8px;
  margin-bottom: 4px;
}
.mcTabF:hover:not(.active) {
  background-color: rgba(76, 89, 98, 0.25);
}
.mcTabF.active {
  background-color: #4C5962;
}

.red {
  color: #EF2A30;
}

p, h1, h2, h3, h4, h5, h6 {
  font-family: proximaNova;
}

.standardButton {
  background-color: #1589C9;
  color: white;
  border-radius: 8px;
  padding: 0.3em 0.6em;
  font-weight: bold;
  height: fit-content;
}
.standardButton:hover {
  background-color: rgb(18, 117, 170);
}

.standardButtonWithoutColour {
  color: white;
  border-radius: 5px;
  padding: 0.3em 0.6em;
  font-weight: bold;
}
.standardButtonWithoutColour:hover {

}

.smallVersion {
  font-size: small;
}

.redStandardError {
  color: #EF2A30;
  font-size: smaller;
}

.muteVersion {
  background-color: #4C5962;
}
.muteVersion:hover {
  background-color: rgb(63, 74, 82);
}

.link {
  color: #1589C9;
}
.link:hover {
  color:  rgb(18, 117, 170);
}

.editIconVersion {
  padding-right: 0.5em;
}

.redVersion {
  background-color: #EF2A30;
  border-color: #EF2A30;
}
.redVersion:hover {
  background-color: rgb(206, 36, 41);
  border-color: #EF2A30;
}

.standardErrorMessage {

}

.largerErrorMessage {
  color: #EF2A30;
  font-size: 1em;
}

.rowThumb {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.pillBadge {
  display: inline-block;
  font-size: small;
  font-weight: bold;
  margin-right: 5px;
  margin-left: 5px;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #1589C9;
  width: fit-content;
  color: white;
  padding: .25em .4em;
  border-radius: 10px;
}

.pillGreenVersion {
  font-size: 0.7em;
  background-color: green;
  margin-bottom: 0px;
}

.pillRedVersion {
  font-size: 0.7em;
  background-color: red;
  margin-bottom: 0px;
}

.tab {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  height: 50px;
  width: 100%;
  /* display: block; */
  padding: 0 1em;
  color: whitesmoke;
  background-color: var(--main-bg-color);
  font-weight: bold;
}
.tab > svg {
  font-size: 1.2em;
  margin-right: .75em;
}
.tab > p {
  margin: 0em;
}
/* #1589C9  */
.tab.active {
  /* background-color: #1589C9; */
}
/* rgba(21, 138, 201, 0.185) */
.tab:hover:not(.active) {
  /* background-color: rgba(21, 138, 201, 0.233); */
}

@media only screen and (max-device-width: 1150px) {
  .tab {
    padding: 0;
  }
  .tab > svg {
    margin: auto;
    font-size: 1.2em;
  }
  .tab > p {
    margin: 0em;
  }
}

.faSelectEventButton {
  /* color: #1589C9; */
  -ms-transition: 1s ease-in-out;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}
.faSelectEventButton:hover {
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
  transform: rotate(90deg);
}
.addressTitle {
  font-weight: bold;
  font-size: medium;
  margin-bottom: 0em;
}
.addressContainer {
  display: grid;
  grid-template-columns: 33% 34% 33%;
  grid-template-rows: auto auto;
  grid-template-areas: 
  "topLeft top topRight"
  "bottomLeft bottom bottomRight";
}
.addressTopLeft {
  grid-area: topLeft;
}
.addressTop {
  grid-area: top;
}
.addressTopRight {
  grid-area: topRight;
}
.addressBottomLeft {
  grid-area: bottomLeft;
}
.addressBottom {
  grid-area: bottom;
}
.addressBottomRight {
  grid-area: bottomRight;
}

.icon:focus .clickIcon  {
  animation-name: bounce;
  display: inline-block;
  position: relative;
  -moz-animation: bounce 0.4s linear;
  -o-animation: bounce 0.4s linear;
  -webkit-animation: bounce 0.4s linear;
  animation: bounce 0.4s linear;
}

.iconContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.iconContainer > img {
  margin: 4px;
  height: 40px;
  width: 40px;
}
.hoverOn {
  /* display: none; */
  visibility: hidden;
  position: absolute;
  opacity: 0;
  top: -24px;
  font-size: x-small;
}
.iconContainer:hover p {
  visibility: visible;
  position: absolute;
  display: inline-block;
  color: whitesmoke;
  background-color: var(--main-grey-color);
  font-size: medium;
  z-index: 10;
  padding: 0.3em 0.6em;
  border-radius: 8px;
  font-weight: bold;
  top: -36px;
  opacity: 1;
  white-space: nowrap;
  transition: opacity 0.3s, top 0.3s, font-size 0.3s;
}

/* Animations */

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.05); }

.growIcon { transition: all .3s ease-in-out; }
.growIcon:hover { transform: scale(1.3); }

.growSmall { transition: all .2s ease-in-out; }
.growSmall:hover { transform: scale(1.02); }

@-webkit-keyframes bounce {
  0% { top: 0; }
  50% { top: -0.2em; }
  70% { top: -0.3em; }
  100% { top: 0; }
}
@-moz-keyframes bounce {
  0% { top: 0; }
  50% { top: -0.2em; }
  70% { top: -0.3em; }
  100% { top: 0; }
}
@-o-keyframes bounce {
  0% { top: 0; }
  50% { top: -0.2em; }
  70% { top: -0.3em; }
  100% { top: 0; }
}
@-ms-keyframes bounce {
  0% { top: 0; }
  50% { top: -0.2em; }
  70% { top: -0.3em; }
  100% { top: 0; }
}
@keyframes bounce {
  0% { top: 0; }
  50% { top: -0.2em; }
  70% { top: -0.3em; }
  100% { top: 0; }
}




