.mcRed {
 color: #EF2A30 !important;
}
.mcOrange {
  color: #F47E2E !important;
}
.mcYellow {
  color: #FFD71A !important;
}
.mcGreen {
  color: #4BB250 !important;
}
.mcBlue {
  color: #1589C9 !important;
}
.mcGrey {
  color: #4C5962 !important;
}

.mcRedBG {
  background-color: #EF2A30;
 }
 .mcOrangeBG {
  background-color: #F47E2E;
 }
 .mcYellowBG {
  background-color: #FFD71A;
 }
 .mcGreenBG {
  background-color: #4BB250;
 }
 .mcBlueBG {
  background-color: #1589C9;
 }
 .mcGreyBG {
  background-color: #4C5962;
 }

.mcTabA {

}
.mcTabA:hover:not(.active) {
  background-color: rgba(239, 42, 49, 0.25);
}
.mcTabA.active {
  background-color: #EF2A30;
}
.mcTabB {

}
.mcTabB:hover:not(.active) {
  background-color: rgba(244, 125, 46, 0.25);
}
.mcTabB.active {
  background-color: #F47E2E;
}
.mcTabC {

}
.mcTabC:hover:not(.active) {
  background-color: rgba(226, 188, 0, 0.25);
}
.mcTabC.active {
  background-color: rgb(226, 188, 0);
}
.mcTabD {

}
.mcTabD:hover:not(.active) {
  background-color: rgba(75, 178, 80, 0.25);
}
.mcTabD.active {
  background-color: #4BB250;
}
.mcTabE {
}
.mcTabE:hover:not(.active) {
  background-color: rgba(21, 138, 201, 0.25);
}
.mcTabE.active {
  background-color: #1589C9;
 }
.mcTabF {

}
.mcTabF:hover:not(.active) {
  background-color: rgba(76, 89, 98, 0.25);
}
.mcTabF.active {
  background-color: #4C5962;
}

p {
  font-family: proximaNova;
}

.standardButton {
  background-color: #1589C9;
  color: white;
  border-color: #1589C9;
  border-radius: 5px;
  padding: 0.3em 0.6em;
}
.standardButton:hover {
  background-color: rgb(18, 117, 170);
  border-color: #1589C9;
}

.smallVersion {
  font-size: small;
}

.red {
  color: #EF2A30
}

.muteVersion {
  background-color: #4C5962;
}
.muteVersion:hover {
  background-color: rgb(63, 74, 82);
}

.link {
  color: #1589C9;
}
.link:hover {
  color:  rgb(18, 117, 170);
}

.editIconVersion {
  padding-right: 0.5em;
}

.redVersion {
  background-color: #EF2A30;
  border-color: #EF2A30;
}
.redVersion:hover {
  background-color: rgb(206, 36, 41);
  border-color: #EF2A30;
}

.standardErrorMessage {

}

.largerErrorMessage {
  color: #EF2A30;
  font-size: 1em;
}

.pillBadge {
  display: inline-block;
  font-size: small;
  font-weight: bold;
  margin-right: 5px;
  margin-left: 5px;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #1589C9;
  width: fit-content;
  color: white;
  padding: .25em .4em;
  border-radius: 10px;
}

.pillGreenVersion {
  font-size: 0.7em;
  background-color: green;
  margin-bottom: 0px;
}

.pillRedVersion {
  font-size: 0.7em;
  background-color: red;
  margin-bottom: 0px;
}

.tab {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  height: 50px;
  width: 100%;
  /* display: block; */
  padding: .5em 1em;
  color: whitesmoke;
  background-color: #222A2E;
  font-weight: bold;
}
/* #1589C9  */
.tab.active {
  /* background-color: #1589C9; */
}
/* rgba(21, 138, 201, 0.185) */
.tab:hover:not(.active) {
  /* background-color: rgba(21, 138, 201, 0.233); */
}

@media only screen and (max-device-width: 1150px) {
  .tab > svg {
    margin: auto;
    font-size: 1.2em;
  }
}

@media only screen and (min-device-width: 1150px) {
  .tab > p {
    margin: 0em;
  }
  .tab > svg {
    margin-right: .75em;
    font-size: 1.2em;
  }
}

.faSelectEventButton {
  color: #1589C9;
  -ms-transition: 1s ease-in-out;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}
.faSelectEventButton:hover {
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
  transform: rotate(90deg);
}

.addressContainer {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  grid-template-areas: 
  "topLeft top topRight"
  "bottomLeft bottom bottomRight";
}
.addressTopLeft {
  grid-area: topLeft;
}
.addressTop {
  grid-area: top;
}
.addressTopRight {
  grid-area: topRight;
}
.addressBottomLeft {
  grid-area: bottomLeft;
}
.addressBottom {
  grid-area: bottom;
}
.addressBottomRight {
  grid-area: bottomRight;
}

.websiteIcon {
  text-decoration: none;
  color: #1589C9;
}
.websiteIcon:hover {
  text-decoration: none;
  color:  rgb(16, 104, 151);
}

.icon:focus .clickIcon  {
  animation-name: bounce;
  display: inline-block;
  position: relative;
  -moz-animation: bounce 0.4s linear;
  -o-animation: bounce 0.4s linear;
  -webkit-animation: bounce 0.4s linear;
  animation: bounce 0.4s linear;
}

@-webkit-keyframes bounce {
  0% { top: 0; }
  50% { top: -0.2em; }
  70% { top: -0.3em; }
  100% { top: 0; }
}
@-moz-keyframes bounce {
  0% { top: 0; }
  50% { top: -0.2em; }
  70% { top: -0.3em; }
  100% { top: 0; }
}
@-o-keyframes bounce {
  0% { top: 0; }
  50% { top: -0.2em; }
  70% { top: -0.3em; }
  100% { top: 0; }
}
@-ms-keyframes bounce {
  0% { top: 0; }
  50% { top: -0.2em; }
  70% { top: -0.3em; }
  100% { top: 0; }
}
@keyframes bounce {
  0% { top: 0; }
  50% { top: -0.2em; }
  70% { top: -0.3em; }
  100% { top: 0; }
}




