.containerHome {
  display: flex;
  flex-direction: column;
  padding-left: 0 !important;
  margin: 0 !important;
  height: 93.5vh;
  /* padding-bottom: 56px; */
  width: 100vw;;
}

.top {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  height: 93.5vh;
  width: 100vw;
}

/* .bottom {
  display: flex;
  height: 33vh;
  width: 100vw;
  align-items: stretch;
} */

.mapView {
  width: 70vw;
  /* flex-grow: 1; */
}

.rationListView {
  overflow-y: scroll;
  flex-grow: 1;
}

.rationListView::-webkit-scrollbar {
  display: none;
}

.rationInfoView {
  flex-grow: inherit;
}