.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.05); }

.homeImage {
  width: 100%;
  height: 60vh;
  object-fit: cover;
  overflow: hidden;
}
.homeImage0 {
  object-position: 50% 10%;
}
.homeImage1 {
  object-position: 50% 40%;
}
.homeImage2 {
  object-position: 50% 0;
}
.homeImage3 {
  object-position: 50% 0;
}
.homeImage4 {
  object-position: 50% 0;
}
.homeImage5 {
  object-position: 50% 50%;
}

.spinnerHomeView {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

@media only screen and (max-width: 1200px) {
  .slideCaption {
    font-size: 1em;
  }
  .iconKeyImage {
    height: 4rem;
    width: 4rem;
  }
}

@media only screen and (min-width: 1200px) {
  .slideCaption {
    font-size: 3em;
  }
  .iconKeyImage {
    height: 6rem;
    width: 6rem;
  }
}
.slideCaption {
  font-family: proximaNova;
  font-weight: bold;
  position: absolute;
  width: 100%;
  letter-spacing: 0.1em;
  transform: translate(-50%, -50%);
  z-index: 20;
  color: white;
  text-align: center;
  margin: auto;
  text-shadow: 1px 1px 4px black;
}
.caption0 {
  left: 50%;
  top: 65%;
}
.caption1 {
  left: 75%;
  top: 50%;
}
.caption2 {
  left: 25%;
  top: 50%;
}
.caption3 {
  left: 50%;
  top: 75%;
}
.caption4 {
  left: 50%;
  top: 75%;
}
.caption5 {
  left: 75%;
  top: 50%;
}
.carouselImage {
  height: 60vh;
  overflow: hidden;
}

.projectInfoContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-family: proximaNova;
}
.projectInfoDetails {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.projectInfoHeading {
  font-family: proximaNova;
  font-weight: bold;
}

.fontProxima {
  font-family: proximaNova;
}

.featuredText {
  font-size: small;
}
.separator {
  display: flex;
  align-items: center;
  text-align: center;
  width: 90%;
  margin: auto;
  /* margin-top: 2rem; */
  /* margin-bottom: 2rem; */
}
.separator::before, .separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #F2F2F2;
}
.separator::before {
  margin-right: .25em;
}
.separator::after {
  margin-left: .25em;
}

.featuredLink {
  all: unset
}
.featuredLink:hover {
  all: unset
}
.featuredLink:active {
  all: unset
}
.featuredOrgs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: baseline;
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  /* flex-shrink: 1; */
}
.featuredOrgCard {
  width: 280px;
  height: fit-content;
  text-align: center;
  background-color: #F2F2F2;
  border: 1px solid rgb(228, 228, 228);
  border-radius: 5px;
  box-shadow: 2px 2px 20px -10px gray;
  margin-bottom: 2rem;
  overflow: hidden;
}
.featuredOrgImage {
  height: 200px;
  width: 100%;
  object-fit: contain;
  background-color: #343A40;
}
.featuredOrgText {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: proximaNova;
}
.featuredOrgDivider {
  margin: 0;
}
.featuredEventIcon {
  height: 100px;
  width: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
}


.iconKeyContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-family: proximaNova;
}
.iconKey {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.iconKeyImage {
  margin-bottom: 12px;
}

.mapScreenshotContainer {
  display: block;
  width: 80vw;
  height: 20vh;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 2px 2px 25px -10px gray;
}
.mapScreenshot {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}