.navlink {
  color: rgb(190, 190, 190);
  text-decoration: none;
}

.mcLogo {
  height: 2rem;
}

.spaceLink {
  margin-right: 20px;
}

.navlink:active {
  color: white;
  text-decoration: none;
}

.navlink:hover {
  color: white;
  text-decoration: none;
}