.navlink {
  color: #B0D6FF;
  text-decoration: none;
}

.orgLink {
  margin-right: 20px;
}

.navlink:active {
  color: white;
  text-decoration: none;
}

.navlink:hover {
  color: white;
  text-decoration: none;
}