.navlink {
  color: rgb(190, 190, 190);
  text-decoration: none;
}

.navBar {
  background-color: rgb(35, 42, 46);
  z-index: 10;
  font-family: proximaNova;
  font-weight: bold;
}

.mcLogo {
  height: 2rem;
}

.spaceLink {
  margin-right: 20px;
}

.navlink:active {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.navlink:hover {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.loginNav {
  color: #222A2E;
  background-color: #BEBEBE;
  cursor: pointer;
  border: 1px solid #222A2E;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
  width: fit-content;
}
.loginNav:hover {
  background-color: white;
  color: #222A2E;
  text-decoration: none;
}

.loginNavLink:hover {
  text-decoration: none;
}