.supplierInfoContainer {
  border-radius: 8px;
  overflow: hidden;
  background-color: white;
  height: 100%;
}

.supplierInfoHeader {
  width: 100%;
  height: 56px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--main-yellow-color);
}
.supplierTextIcon {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.supplierInfoHeader > div > svg {
  margin-left: 32px;
  font-size: 2em;
  color: #444444;
}
.supplierInfoHeader > div > p {
  margin: 0;
  margin-left: 12px;
  font-size: larger;
  font-weight: bold;
  color: #040404;
}

.supplierInfoContent {
  position: relative;
  height: 90%;
  border-radius: 8px;
  overflow-y: scroll;
  padding: 32px;
}

.supplierTitle {
  font-weight: bold;
  font-size: medium;
  margin-bottom: 0em;
}
.supplierTitleSmall {
  font-weight: bold;
  font-size: small;
  margin-bottom: 0em;
}
.supplierText {

}

.bankingInfoContainer {
  display: grid;
  grid-template-columns: 33% 34% 33%;
  grid-template-rows: auto auto;
  grid-template-areas: 
  "topLeft top topRight"
  "bottomLeft bottom bottomRight";
}
.bankingTopLeft {
  grid-area: topLeft;
}
.bankingTop {
  grid-area: top;
}
.bankingTopRight {
  grid-area: topRight;
}
.bankingBottomLeft {
  grid-area: bottomLeft;
}
.bankingBottom {
  grid-area: bottom;
}
.bankingBottomRight {
  grid-area: bottomRight;
}

.websiteIcon {
  text-decoration: none;
  color: #1589C9;
}
.websiteIcon:hover {
  text-decoration: none;
  color:  rgb(16, 104, 151);
}

.iconSpecific {
  margin: 4px;
}

.iconSpecific:hover {
  text-decoration: none;
}

.iconSpecific:visited {
  text-decoration: none;
}

.imageContainer {
  position: relative;
  height: 200px;
  width: auto;
  background-color: white;
  border-radius: 0.25rem;
  margin-bottom: 16px;
}
.supplierImage {
  border-radius: 0.25rem;
  position: absolute;
  object-fit: scale-down;
  /* width: 100%; */
  height: 100%;
}

.emptyDBContainer {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.supplierEditButton {
  position: absolute;
  top: 8px;
  right: 8px;
}

.createNewOrganisationButton {
  width: 100%;
  text-align: end;
}
.createNewOrganisationButton > a > button {
  background-color: var(--main-yellow-color);
  color: #040404;
}


@media only screen and (max-device-width: 1150px) {
  .supplierInfoContent {
    padding: 12px;
  }
}