.profileContainer {
  border-radius: 8px;
  overflow: hidden;
  background-color: white;
}

.profileHeader {
  width: 100%;
  height: 56px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #1589C9;
}
.profileHeader > svg {
  margin-left: 32px;
  font-size: 2em;
  color: whitesmoke;
}
.profileHeader > p {
  margin: 0;
  margin-left: 12px;
  font-weight: bold;
  color: whitesmoke;
}

.profileContent {
  border-radius: 8px;
  padding: 32px;
}

.profileTitle {
  font-weight: bold;
  font-size: medium;
  margin-bottom: 0em;
}
.profileText {
  
}
.profileContent > button {
  margin-bottom: 1rem;
}

.pCreatedAccountOn {
  margin-top: 1em; 
}