.projectViewContainer {
  height: 100%;
  border-radius: 8px;
  overflow: hidden;
  background-color: white;
}
.projectViewHeader {
  width: 100%;
  height: 56px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--main-green-color);
}
.projectViewTextIcon {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.projectViewHeader > div > svg {
  margin-left: 32px;
  font-size: 2em;
  color: whitesmoke;
}
.projectViewHeader > div > p {
  margin: 0;
  margin-left: 12px;
  font-weight: bold;
  font-size: larger;
  color: whitesmoke;
}
.projectViewContent {
  height: 100%;
  padding: 16px;
  /* overflow-y: auto; */
  background-color: #F8F9FA;
}

.projectCardContainer {
  position: relative;
  cursor: pointer;
}
.projectCard {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  height: 200px;
  width: auto;
  background-color: var(--main-bg-light-color);
}
.projectCardTop {
  width: 100%;
  height: 80%;
}
.projectCardBottom {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.projectCardTop > img {
  object-fit: cover;
  background-color: white;
  text-align: center;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid whitesmoke;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.projectCardBottom > p {
  font-weight: bold;
  font-size: larger;
  text-align: center;
  margin-bottom: 0;
  color: whitesmoke;
}
.projectCardSheet {
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 100px;
  bottom: 0%;
  left: 0%;
  padding: 8px;
  padding-top: 18px;
  background-color: rgb(231, 231, 231);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  transition: ease bottom 1s;
  box-shadow: inset 0px 0px 5px 1px rgba(128, 128, 128, 0.15);
}
.projectCardContainer:hover > .projectCardSheet {
  bottom: -90px;
}

.projectCardSmallTitle {
  margin-top: 8px;
  font-size: large;
}
.projectCardAddIcon {
  border: 4px solid var(--main-yellow-color);
  color: var(--main-yellow-color);
  border-radius: 50%;
  padding: 6px;
  height: 40px;
  width: 40px !important;
  margin-bottom: 8px;
}

.projectViewMinorContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.projectTabContent {
  flex: 0 0 calc(100% - 80px);
  /* width: calc(100% - 100px); */
  height: 100%;
  overflow-y: scroll;
}
.projectTabBar {
  flex: auto;
  height: 100%;
  margin-bottom: 8px;
}
.projectTabs {
  background-color: rgb(230, 230, 230);
  padding: 8px;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow-x: scroll;
}
.projectTab {
  height: 2.8em;
  width: 100%;
  font-weight: bold;
  border-radius: 8px;
  margin-left: 8px;
  margin-right: 8px;
}
.projectTab:first-child {
  margin-left: 0;
}
.projectTab:last-child {
  margin-right: 0;
}
.projectTab > svg {
  font-size: 1.2em;
  margin-right: .75em;
}
.projectTab > p {
  margin: 0em;
  padding-left: 8px;
  padding-right: 8px;
  white-space: nowrap;
}
.projectTab.active {
  background-color: var(--main-green-color);
  color: whitesmoke;
}
.projectTab:hover:not(.active) {
  background-color: var(--main-light-green-color);
  /* color: whitesmoke; */
}

.projectDashCard {
  margin: auto;
  background-color: white;
  width: 100%;
  height: 100%;
  padding: 16px;
  border-radius: 8px;
  color: #040404;
  border: 1px solid rgba(128, 128, 128, 0.2);
  box-shadow: inset 0px 0px 5px 5px rgba(0, 0, 0, 0.02);
}



.projectDashInfoContainer {
  height: auto;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-areas: 
  'info image'
  'other other';
}
.projectInfoCardA {
  grid-area: info;
}
.projectInfoCardB {
  grid-area: image;
}
.projectInfoCardC {
  grid-area: other;
  height: 300px;
}



.projectDashSupplyContainerGrid {
  height: auto;
  width: 100%;
  
} 
.projectDashSupplyContainer {
  height: auto;
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-areas: 
  'percent details userSupplied'
  'list list list';
}
.projectSupplyCardA {
  grid-area: percent;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.projectSupplyCardB {
  grid-area: details;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.projectSupplyCardC {
  grid-area: userSupplied;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.projectSupplyCardD {
  grid-area: list;
  margin: 0 auto;
}
.projectSupplyCardD table {
  width: 100%;
  padding: 16px;
  border-collapse: separate;
  border: 1px solid rgba(128, 128, 128, 0.2);
  background-color: white;
  table-layout: fixed;
  border-radius: 8px;
  color: var(--main-text-dark);
  box-shadow: inset 0px 0px 5px 5px rgba(0, 0, 0, 0.02);
}
.projectSupplyCardD tr {
  border: 1px solid rgba(128, 128, 128, 0.2);
}
.projectSupplyCardD td, th {
  color: var(--main-text-dark);
  text-align: center;
}
.projectSupplyCardD th {
  /* border: 1px solid rgba(128, 128, 128, 0.2); */
  border: none;
  text-align: center;
}
.projectSupplyCardD td {
  /* border: 1px solid rgba(128, 128, 128, 0.2); */
  border: none;
}
.projectSupplyCardD td:first-child, th:first-child {
  border-left: none;
}
.projectSupplyListItem {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin-bottom: 8px;
  box-shadow: none;
  transition: box-shadow ease 0.5s;
}
.projectSupplyListItem:hover {
  box-shadow: 0px 2px 4px 1px rgb(228, 228, 228);
}



.projectAddSupplyModalBG {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.projectAddSupplyModal {
  height: 400px;
  width: 600px;
  background-color: whitesmoke;
  border-radius: 8px;
}





.projectTitle {
  font-size: small;
  margin-bottom: 0;
}
.projectText {
  font-size: large;
  margin-bottom: 0;
}
.projectCarouselImage {
  margin-top: 4px;
  height: 200px;
  width: 100%;
  object-fit: scale-down;
  border-radius: 8px;
  background-color: rgb(92, 92, 92);
  overflow: hidden;
}

.svgProgressCircle {
  display: block;
  max-width: 100%;
  transform: rotate(-90deg);
}
.svgCircle {
  fill: none;
}
.svgCircleBG {
  fill: none;
}
.svgCircleText {
  font-size: 0.5rem;
  /* text-anchor: middle; */
  fill: #000000;
  font-weight: bold;
  transform: rotate(90deg);
}
.progressCircleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.progressCircleContainer > p {
  font-weight: bold;
  font-size: small;
  margin: 0;
}


@media only screen and (max-device-width: 700px) {
  .projectViewContent {
    padding: 8px;
  }
  .projectHeadingSelect {
    font-size: 1em;
  }
  .projectTabs {
    justify-content: start;
  }
  .projectTab {
    width: fit-content;
  }
  .projectDashInfoContainer {
    width: calc(100% - 8px);
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    grid-template-areas: 
    'info'
    'image'
    'other';
  }
}

@media only screen and (max-device-width: 600px) {
  
    
}