.listGroup {
  height: 100%;
  width: 100%;
}

.listGroupItem {
  padding-left: 0 !important;
}

/* .listGroupItem {
  padding-left: 0px;
  display: block;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, .125);
}

.listGroupItem:action {
  width: 100%;
  color: #495057;
  text-align: inherit;
} */

.searchBarSpace {
  margin: 0;
}

.searchBarContainer {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  align-items: center;
  border: 1px darkblue;
  padding-left: 20px;
  padding-bottom: 12px;
  padding-top: 12px;
  padding-right: 20px;
}

.list-view-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

.list-left {
  width: 64px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.list-left-image {
  height: 3.5em;
}

.list-right {
  flex: 1;
}
.searchIcon {
  border: none;
  font-size: 150;
  vertical-align: middle;
}

.searchBar {
  flex-grow: 2;
  border: none;
  padding: 0;
  padding-left: 12px;
}

.filterIcon {
  border: none;
  font-size: 150;
  vertical-align: middle;
}

.filterSelect {
  flex-grow: 2;
  border: none;
  padding: 0;
  padding-left: 12px;
}

.filterSelect select {
  border: none;
  width: 100%;
}

