.noRation {
  /* vertical-align: middle;
  text-align: center; */
  /* width: 100%; */
  /* height: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.bigBoi {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
  padding: 20px;
  padding-top: 12px;
}

.searchBarSpace {
  margin: 0;
}

p {
  font-size: larger;
}

/* .backButtonIcon {
  padding-right: 6px;
} */

.backButton {
  border: 0;
  text-align: left;
  padding-left: 0;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
}

.smallBoi {
  display: flex;
  flex-direction: column;
  width: 100%;
}