.bI {
  padding: 0 !important;
  margin: 0 !important;
}

.icon {
  text-decoration: none;
  margin-right: 6px;
}

.icon:hover {
  text-decoration: none;
}

.icon:visited {
  text-decoration: none;
}

.imageContainer {
  position: relative;

  height: 200px;
  width: auto;
  border-radius: 0.25rem;
}
.supplierImage {
  border-radius: 0.25rem;
  position: absolute;
  object-fit: scale-down;
  width: auto;
  height: 100%;
  /* background-color: black; */
  /* left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%); */
}